*{
	box-sizing: border-box;
}

body{
	width: 70%;
	margin: 5% auto;
	font-size: 87.5%;
	font-family: arial;
	line-height: 1.5;
	background-color: #FFFFE0;
}

h1{
	text-align: center;
	font-size: 50px; 
	font-family: 'Calibri';
	margin-bottom: 5%;
}